.imageContainer {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 900px;
  overflow-x: auto;
}

.imageDiff {
  width: 500px;
  height: 200px;
  margin: 20px;
  padding: 2px;
  background-color: bisque;
}

.container {
  display: flex;
  overflow-x: scroll; 
}